

<%= link_to 'New Image', new_image_path, class: 'btn btn-primary float-right' %>

  <h1><%= current_author.username+"'s Posts" %></h1>
  


<% @images.each do |image| %>
    <%= link_to image_path(image), class: 'text-decoration-none' do %>
    <div class="card mb-4 border-dark">
      <div class="card-body">
        <h2 class='card-title align-text-top text-dark'><%= image.title %></h2>


       <%= image_tag(image.photo, style:'width:50%') if image.photo.attached? %>
      </div>

      <li class="list-group-item">
      	 
   	   <% if image.published? %>
  		<a><b>Published:</b> Yes </a>
  <% else %>
  		<a><b>Published:</b> No</a>
  <% end %>
  <%= link_to 'Edit', edit_image_path(image), class: "btn btn-primary float-right" %> 
   	    </li>
    </div>
<% end %>
<% end %>




