

<p id="notice"><%= notice %></p>

<%= link_to 'Back', :back, class: "btn btn-primary mb-4" %>


<body>
<div class="row col-md-12 tp-2 pb-4">

   <div class="card border-dark">
      <div class="card-header border-dark text-center">
         <p class="text-center mb-9">
         <h1><%= @image.title %></h1>
         </p>
         <p>
            <strong>Author:</strong>
            <%= @image.author.username %>
         </p>
      </div>
     

        <div class="card-body text-center">
         <div style="width:450px; height:450px">
            <%= image_tag(@image.photo, style: 'width:100%')if @image.photo.attached? %>
         </div>
       </div>

         <li class="list-group-item">
            <p>
               <strong>Published:</strong>
               <% if @image.published? %>
               <a>Yes</a>
               <% else %>
               <a>No</a>
               <% end %>
            </p>
            <% if current_author.images.include?(@image) %>
            <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-success mb-2" %> 
            <% end %>
        </div>
    </div>
    </li>
  </div>
</div>
</body>

